form {
  font-family: "Comic Sans MS";
  color: white;
}

table {
  width: 100%;
  text-align: center;
  margin: 5%;
  margin-right: 5%;
  display: inline-flex;
  background-color: ivory;
}
dd {
  font-size: large;
}
td {
  width: auto;
  display: contents;
  padding-top: 1vmin;
}

body {
  background: url("./pictures/background.jpg");
  /*image from a<a href='https://www.freepik.com/free-photos-vectors/background'>Background vector created by pikisuperstar - www.freepik.com</a>*/

  color: white;
  text-align: center;
  margin: 0;
  scrollbar-base-color: #ffeaff;
}
.scroll {
  scroll-snap-type: x mandatory;
}
section {
  scroll-snap-align: start;
  flex-flow: nowrap !important;
  width: 100vw;
  display: flex;
}
p {
  font-size: 1.5em;
}

@font-face {
  font-family: Nebula-Regular;
  src: url("./documents/Nebula-Regular.otf");
}

.project {
  font-weight: bold;
  font-size: 3.5vmin;
  font-family: "Nebula-Regular";
  display: list-item;
}

.projectDesc {
  font-size: 2.5vmin;
  display: list-item;
  font-family: "Audiowide";
}

a {
  text-decoration: none;
  color: white;
  size: 0vmin;
}

.more {
  font-family: "Nebula-Regular";
  font-size: 3vmax;
  display: contents;
  color: white;
}

.hint {
  height: 120px;
  color: black;
  font-size: 1em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 100%;
}
.btns {
  display: contents;
}
.input {
  color: black;
  font-size: 1em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 100%;
  height: 3vmax;
  font-family: "Audiowide";
}
.form {
  font-family: "Audiowide";
}
.yoRow {
  display: flex;
  justify-content: center;
  height: 100%;
}
.yo {
  font-family: "Nebula-Regular";
  font-size: 6vmax;
  color: white;
  width: 100vmin;
  display: contents;
}
.bio {
  display: contents;
  text-align: center;
  font-size: 2.5vmin;
  width: 100vmin;
  font-family: "Audiowide";
}
.Contact {
  background-color: rgba(12, 55, 66, 0.85);
  animation: mymove 6s infinite;
  padding: 5vmin;
  margin-right: 4%;
  margin-left: 8%;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 2%;
  color: white;
  width: auto;
  height: auto;
  border: 0.5px solid white;
  display: block;
}
.Email {
  background-color: rgba(12, 55, 66, 0.85);
  animation: mymove 6s infinite;
  padding: 5%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  font-family: "Audiowide";
  border: 0.5px solid white;
}
.resumetitle {
  font-family: "Nebula-Regular";
  font-size: 1.5vmax;
}
.resumedesc {
  font-family: "Audiowide";
  font-size: 1.5vmax;
}
.Links {
  font-family: "Times New Roman";
  color: white;
  font-size: 3vmin;
  text-align: center;
}
.Me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  border: 0.25em solid white;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
.message {
  line-height: 10em;
  width: 75%;
}

.back {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  text-decoration: none;
  margin-right: 30px;
}
.head {
  font-family: "Nebula-Regular";
  font-size: 5vmax;
  color: white;
  text-align: center;
  display: contents;
  padding-top: 1.5vmax;
}
.pages {
  color: white;
  font-family: "Nebula-Regular";
  font-size: 3.5vmin;
  text-align: center;
  margin-left: 0;
}
.leftside,
.rightside {
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .leftside,
  .rightside {
    height: 100%;
    width: 100%;
  }
  .grid-container {
    height: 100vmax;
    width: 100vmax;
  }

  .Contact {
    height: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .Me {
    height: 150px;
    width: 150px;
  }
  .Links {
    height: 20px;
    width: 20px;
  }
  .resumedesc {
    font-size: 1em;
  }
  .resumedivs {
    padding: 1%;
  }
}
.resumedivs {
  border-radius: 5%;
  background-color: rgba(12, 55, 66, 0.85);
  padding: 5%;
  height: auto;
  width: auto;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
  font-size: 2vmax;
  border: 0.5px solid white;
}
.grid-container {
  display: grid;
  grid-template-columns: 60% auto auto auto auto;
  grid-template-rows: 10% 90%;
  grid-gap: 0%;
  height: 100vmin;
  width: 100vmin;
}
.pj {
  grid-template-columns: 60vmax auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 0.5vmin;
  width: 100%;
  height: auto;
}

.item1 {
  position: relative;
}
.item2 {
  grid-area: 1 / 2 / 1 / 6;
}
.item3 {
  grid-area: 2 / 1 / 3 / 5;
  padding: 10% 10% 10% 0%;
}
.Description1 {
  grid-area: 1 / 1 / 2 / 4;
}
.Pics1 {
  grid-area: 1 / 4 / 2 / 6;
}
.Description2 {
  grid-area: 2 / 1 / 3 / 4;
}
.Pics2 {
  grid-area: 2 / 4 / 3 / 6;
}
.Description3 {
  grid-area: 3 / 1 / 4 / 4;
}
.Pics3 {
  grid-area: 3 / 4 / 4 / 6;
  padding-left: 20px;
}
.Description4 {
  grid-area: 4 / 1 / 5 / 4;
}
.Pics4 {
  grid-area: 4 / 4 / 5 / 6;
}
.Pics1,
.Pics2,
.Pics3,
.Pics4 {
  padding-top: 5px;
  padding-right: 20px;
}
.Description1,
.Description2,
.Description3,
.Description4 {
  padding-left: 40px;
  padding-right: 100px;
}
.pj_img {
  width: 15vmin;
  height: 10vmin;
  object-fit: scale-down;
}

.certificates {
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  padding: 10px;
}

.projectRow {
  margin-bottom: 3%;
}
.projects_div {
  background-color: rgba(12, 55, 66, 0.85);
  animation: mymove 6s infinite;
  padding: 5%;
  border-radius: 20px;
  text-align: left;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  border: 0.5px solid white;
}
.emoji {
  font-size: 3vmax;
  padding-top: 10px;
  display: contents;
}
.moreDiv {
  display: flex;
  justify-content: center;
}

@keyframes mymove {
  0% {
    background-color: rgba(46, 0, 21, 0.85);
  }
  50% {
    background-color: rgba(24, 30, 43, 0.85);
  }
  100% {
    background-color: rgba(46, 0, 21, 0.85);
  }
}

@keyframes mybg {
  0% {
    background-image: linear-gradient(rgb(1, 10, 28), rgb(8, 1, 0));
  }
  5% {
    background-image: linear-gradient(rgb(1, 15, 28), rgb(8, 1, 0));
  }
  9% {
    background-image: linear-gradient(rgb(1, 16, 28), rgb(8, 1, 0));
  }
  14% {
    background-image: linear-gradient(rgb(1, 20, 28), rgb(8, 1, 0));
  }
  20% {
    background-image: linear-gradient(rgb(1, 23, 28), rgb(8, 1, 0));
  }
  23% {
    background-image: linear-gradient(rgb(1, 25, 0), rgb(8, 1, 0));
  }
  30% {
    background-image: linear-gradient(rgb(1, 28, 0), rgb(8, 1, 0));
  }
  35% {
    background-image: linear-gradient(rgb(1, 28, 0), rgb(8, 1, 0));
  }
  40% {
    background-image: linear-gradient(rgb(3, 28, 0), rgb(8, 1, 0));
  }
  45% {
    background-image: linear-gradient(rgb(10, 28, 0), rgb(8, 1, 0));
  }
  50% {
    background-image: linear-gradient(rgb(13, 28, 0), rgb(8, 1, 0));
  }
  55% {
    background-image: linear-gradient(rgb(16, 28, 0), rgb(8, 1, 0));
  }
  63% {
    background-image: linear-gradient(rgb(23, 28, 0), rgb(8, 1, 0));
  }
  67% {
    background-image: linear-gradient(rgb(25, 28, 0), rgb(8, 1, 0));
  }
  71% {
    background-image: linear-gradient(rgb(28, 28, 0), rgb(8, 1, 0));
  }
  75% {
    background-image: linear-gradient(rgb(28, 25, 0), rgb(8, 1, 0));
  }
  80% {
    background-image: linear-gradient(rgb(28, 23, 0), rgb(8, 1, 0));
  }
  85% {
    background-image: linear-gradient(rgb(28, 16, 0), rgb(8, 1, 0));
  }
  90% {
    background-image: linear-gradient(rgb(28, 13, 0), rgb(8, 1, 0));
  }
  94% {
    background-image: linear-gradient(rgb(28, 10, 0), rgb(8, 1, 0));
  }
  97% {
    background-image: linear-gradient(rgb(28, 8, 0), rgb(8, 1, 0));
  }
  100% {
    background-image: linear-gradient(rgb(28, 5, 0), rgb(8, 1, 0));
  }
}
